html, body {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color:aliceblue;
}

.navbar a {
    color: rgb(0, 67, 126);
}

.navbar a:hover  {
    color: rgb(0, 90, 169);;
}

/* register css */
.register-form {
    width: 60%;
    margin: auto;
}

/* jobs-page css */
.job-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: space-evenly;
}

.color-blue {
    color: rgb(0, 67, 126);
}

.job-card {
    width: 20%;
}
